*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;

}
.box{
    background-color: blueviolet;
    padding: 8px;
    width: 500px;
    height: 500px;
    border: 2px solid red;
    color: white;
    font-weight: bold ;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

    