*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
 color: white;
 text-decoration: none;

}
.parent-1{
    display: flex;
    justify-content: space-around;
    background-color:#2d3743;
    padding: 20px  100px;
    font-size: large;
    border: 2px solid rgb(10, 10, 8);
}

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: azure; 
    padding: 40px 20px;
  

}
.parent-2{
    display: flex;
    gap: 30px;
    font-size: large;
}
.child-1{
    width: 30vw;

}
.child1-btn
{
    
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
   
}



